.container {
    max-width: 1200px
    margin: auto
    padding: 0 20px

    @media (min-width: tablet) {
        padding: 0 30px
    }

    @media (min-width: desktop) {
        padding: 0 40px
    }
}