header {
    background: light
    color: dark-alpha
    width: 100%
    position: fixed
    transition: 0.3s background

    @media (min-width: tablet) {
        background: none
    }

    .container {
        transition: 0.3s height
        display: flex
        align-items: center
        justify-content: space-between
        height: 60px

        @media (min-width: tablet) {
            height: 100px
        }
    }

    &.slim {
        background: light

        .container {
            height: 60px !important
        }
    }

    h1 {
        padding: 0 4px

        img {
            height: 24px

            @media (min-width: tablet) {
                height: 30px
            }
        }
    }

    button {
        span {
            font-size: 30px !important
        }

        @media (min-width: tablet) {
            display: none
        }
    }

    nav {
        position: absolute
        background: dark-alpha
        padding: 20px 0
        left: 0
        right: 0
        top: 100%
        display: none

        &.active {
            display: block
        }

        &.open {
            animation: 0.3s nav-open
            display: block

            @keyframes nav-open {
                from {
                    transform: translateX(-100%)
                }

                to {
                    transform: translateX(0%)
                }
            }
        }

        &.close {
            animation: 0.3s nav-close
            display: block

            @keyframes nav-close {
                from {
                    transform: translateX(0%)
                }

                to {
                    transform: translateX(100%)
                }
            }
        }

        @media (min-width: tablet) {
            position: static
            background: none
            display: block
        }

        ul {
            display: flex
            flex-direction: column
            align-items: center

            @media (min-width: tablet) {
                flex-direction: row
            }

            li {
                padding: 10px 0

                @media (min-width: tablet) {
                    padding: 0 0 0 40px
                }
            }
        }

        a {
            color: light
            font-weight: 700

            @media (min-width: tablet) {
                color: dark-alpha
            }
        }
    }
}