a.button {
    text-light();
    text-bold();
    font-size: 14px;
    border: 2px solid $white;
    padding: 8px 12px;
    display: inline-block;
    smoth();

    &:hover {
        background: $red;
        border-color: $red;
    }

    +on-tablet() {
        font-size: 16px;
    }

    +on-desktop() {
        font-size: 18px;
    }
}