header {
    bg-light();
    text-dark();
    width: 100vw;
    position: fixed;
    z-index: 10;
    smooth(background);
    border-bottom: 1px solid $gray;

    +on-tablet() {
        bg-none();
        border-bottom: none;

        &.slim {
            bg-light();

            .container {
                height: 60px;
            }

            a {
                text-dark();

                &::before {
                    bg-dark();
                }
            }
        }

        &.dark {
            bg-dark();

            a {
                text-light();

                &::before {
                    bg-light();
                }
            }
        }
    }

    .container {
        smooth(height);
        flex-center();
        justify-content: space-between;
        height: 60px;

        +on-tablet() {
            height: 100px;
        }
    }

    h1 {
        padding: 0 4px;

        img {
            height: 24px;

            +on-tablet() {
                height: 30px;
            }
        }
    }

    button {
        font-size: 22px;

        +on-tablet() {
            display: none;
        }
    }

    nav {
        bg-dark();
        padding: 20px 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        hide();

        &.active {
            show();
        }

        &.open {
            animate(nav-open);
            show();

            @keyframes nav-open {
                from {
                    transform: translateX(-100%);
                }

                to {
                    transform: translateX(0%);
                }
            }
        }

        &.close {
            animate(nav-close);
            show();

            @keyframes nav-close {
                from {
                    transform: translateX(0%);
                }

                to {
                    transform: translateX(100%);
                }
            }
        }

        +on-tablet() {
            position: static;
            bg-none();
            show();
        }

        ul {
            flex-center();
            flex-direction: column;

            +on-tablet() {
                flex-direction: row;
            }

            li {
                padding: 10px 0;

                +on-tablet() {
                    padding: 0 0 0 40px;
                }
            }
        }

        a {
            text-light();
            text-bold();

            +on-tablet() {
                position: relative;

                &::before {
                    content: '';
                    height: 2px;
                    width: 0%;
                    position: absolute;
                    bottom: -4px;
                    bg-light();
                    smooth();
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }
    }
}