.service {
    bg-light();
    padding: 80px 0;
    text-align: center;

    a {
        text-dark();
    }

    h1 {
        color: $gray;
        font-size: 32px;
        letter-spacing: 4px;
        margin-bottom: 40px;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        +on-tablet() {
            grid-template-columns: 1fr 1fr;
        }

        li {
            smooth(all, 1.2s);
            border-bottom: 1px solid $gray;
            transform: translateY(60px);
            opacity: 0;

            +on-tablet() {
                &:nth-child(odd) {
                    transform: translateX(-60px);
                }

                &:nth-child(even) {
                    transform: translateX(60px);
                }
            }

            &.show {
                transform: translateY(0px);
                opacity: 1;

                +on-tablet() {
                    transform: translateX(0px);
                }
            }

            figure {
                overflow: hidden;
            }

            img {
                smooth();
                width: 100%;
            }

            h4 {
                font-size: 18px;
                opacity: 0.8;
                margin: 10px 0 6px;
            }

            &:hover {
                h4 {
                    opacity: 1;
                }

                img {
                    transform: scale(1.08);
                }
            }
        }
    }
}