<section class="activity">
    <div class="container">
        <h1>What I do</h1>
        <ul>
            <% for( let i = 0; i < 6; i++ ) { %>
            <li>
                <a href="#">
                    <figure>
                        <img src="img/code.jpg">
                    </figure>
                    <h4>Code Fun Stuff!</h4>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</section>