<header id="header">
    <div class="container">
        <h1>
            <a href="/"><img src="img/<%= header.logo %>"></a>
        </h1>
        <button id="header-menu">
            <i class="fas fa-bars"></i>
        </button>
        <nav id="header-nav">
            <ul>
                <% header.nav.forEach(nav => { %>
                <li><a href="<%= nav.url %> "><%= nav.text %></a></li>
                <% }) %>
            </ul>
        </nav>
    </div>
</header>