<section class="hero" style="background-image: url('img/background-1.jpg?as=webp')">
    <div class="container">
        <h1><%= hero.heading %></h1>
        <h2 id="typing-text">
            <% hero.subheading.forEach(subheading => { %>
            <span><%= subheading %></span>
            <% }) %>
        </h2>
        <a href="<%= hero.button.url %> " target="_blank" class="button">
            <%= hero.button.text %>
        </a>
    </div>
</section>