<section class="offer" id="offer" style="background-image: url('img/offer.jpg?as=webp')">
    <div class="container">
        <h1><%= offer.heading %></h1>
        <a href="<%= offer.button.url %>">
            <%= offer.button.text %>
        </a>
    </div>
</section>