<link rel="icon" href="img/<%= meta.favicon %>?width=64">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap">
<link rel="stylesheet" href="src/main.styl">
<script src="https://kit.fontawesome.com/0e0e252d02.js" crossorigin="anonymous"></script>
<script src="src/main.js" type="module" defer></script>
<title><%= meta.title %></title>