@require ('styles/base/config');
@require ('styles/base/mixin');
@require ('styles/base/reset');
@require ('styles/button');
@require ('styles/container');
@require ('styles/header');
@require ('styles/hero');
@require ('styles/service');
@require ('styles/offer');
@require ('styles/about');
@require ('styles/footer');