// ? font
font-default = 'Rubik', sans-serif;
// ? color
light = #ffffff;
dark-alpha = #212529;
dark-beta = #6f6f6f;
// ? breakpoint
tablet = 641px;
desktop = 961px;
// * font
$rubik = 'Rubik', sans-serif;
// * color
$white = #ffffff;
$black = #212529;
$gray = #6f6f6f;
$red = #cc0000;
// * breakpoint
$tablet = 641px;
$desktop = 961px;