* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 280px;
    font-family: $rubik;
    // ! temp
    background: #cccccc;
    height: 400vh;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    display: block;
    line-height: 0;
    border: none;
    bg-none();
}

.material-symbols-outlined {
    text-dark();
}