* {
    margin: 0
    padding: 0
}

body {
    min-width: 280px
    font-family: font-default
    background: #cccccc
}

img {
    display: block
}

a {
    text-decoration: none
}

ul {
    list-style: none
}

button {
    display: block
    background: none
    border: none
    line-height: 0
}

.material-symbols-outlined {
    color: dark-beta
}